*,
::before,
::after {
	margin: 0;
	padding: 0;
}
.nav-main-logo {
	width: 110px;
	height: 20px;
}
header {
	background: url(image/HEROImg.png);
	height: 100%;
}
header a {
font-family: 'Lato', sans-serif;
color: #fffffe;
font-size: 13.92px;
font-weight: 500;
line-height: 40px;
text-align: left;
transform: scaleY(1.0054);

}
.nav-main-links {
    text-align: right;
    }
.nav-main-links,
.nav-main-logo {
    display: inline-block;
}
background-size:cover