body {
  background: radial-gradient(circle, #f0ecff 25%, #f0bdf3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font: 600 42px/1 Arial;
  color: #4e4e4e;
}
.flex {
  margin: 20px;
  display: flex;
  font-size: 14px;
  width: 460px;
  background: white;
  border-radius: 3px;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.flex_item {
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0);
}
.flex::before {
  content: "";
  flex-shrink: 1;
  flex-grow: 0;
}
.flex::before,
.flex_item__last {
  width: 50%;
  flex-shrink: 1;
  flex-grow: 0;
}
.flex::before,
.flex_item {
  margin: 10px;
  padding: 5px 10px;
}
.flex_item__last {
  text-align: right;
  white-space: nowrap;
}
