div {
  width: 400px;
  height: 400px;
  background: #252137;
  background: 
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
    background-size: 100px 100px;
    position: absolute;
}
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}



[class*="black"] {
    box-shadow: 1px 1px 1px silver;
    background: black;
}

.black1 {
    top: 12px;
    left: 62px;
}

.black2 {
    top: 12px;
    left: 162px;
}

.black3 {
    top: 12px;
    left: 262px;
}

.black4 {
    top: 12px;
    left: 362px;
}

.black5 {
    top: 62px;
    left: 12px;
}

.black6 {
    top: 62px;
    left: 112px;
}

.black7 {
    top: 62px;
    left: 212px;
}

.black8 {
    top: 62px;
    left: 312px;
}

.black9 {
    top: 112px;
    left: 62px;
}

.black10 {
    top: 112px;
    left: 162px;
}

.black11 {
    top: 112px;
    left: 262px;
}

.black12 {
    top: 112px;
    left: 362px;
}

[class*="red"] {
    box-shadow: 1px 1px 1px gray;
    background: red;
}

.red1 {
    top: 262px;
    left: 12px;
}

.red2 {
    top: 262px;
    left: 112px;
}

.red3 {
    top: 262px;
    left: 212px;
}

.red4 {
    top: 262px;
    left: 312px;
}

.red5 {
    top: 312px;
    left: 62px;
}

.red6 {
    top: 312px;
    left: 162px;
}

.red7 {
    top: 312px;
    left: 262px;
}

.red8 {
    top: 312px;
    left: 362px;
}

.red9 {
    top: 362px;
    left: 12px;
}

.red10 {
    top: 362px;
    left: 112px;
}

.red11 {
    top: 362px;
    left: 212px;
}

.red12 {
    top: 362px;
    left: 312px;
}