body {
  background: grey;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  background: red;
  min-width: 800px;
  max-width: 1200px;
}
.card {
  height: 540px;
  background: white;
  margin: 10px;
  width: calc(100% / 3 - 20px);
  display: flex;
  flex-direction: column;
}
.card__main {
  width: calc(200% / 3 - 20px);
}

.card_date,
.card_title {
  margin: 20px 30px;
}
.card_date {
  color: grey;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
}
.card_title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin-top: auto;
}

.card_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card_image {
  height: 100%;
}

.card_author {
  width: 20px;
  height: 20px;
  background: red;
  margin: 30px;
  margin-top: auto;
}