font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

*,
::before,
::after {
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	font: 18px/24px; 'Raleway', sans-serir;
	color: #303030;
}
.wrap {
	width: 1200px;
	margin: auto;
}
.nav-main {
	font-size: 0;
}
.menu {
	background: url(image/Menu.png);
	width: 17px;
	height: 14px;
}
.nav-main-links a {
	font: 18px/1 Roboto, sans serif;
	letter-spacing: 0.025em;
	color: #303030;
	text-decoration: none;
	margin-right: 50px;
}
.nav-main-links,
.nav-main-logo {
	width: 50%;
	display: inline-block;

}
radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(238,212,249,1) 31%,rgba(185,0,253,1) 100%);
.product {
	background: white;
	border-radius: 5px;
	padding: 70px;
}
.subscribe {
	background: white;
	border-radius: 100px;
	width: 700px;
	margin: auto;
}
