ul li {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: red;

}

li+li {
	background: orange;
}
li:last-child {
	background: purple;
}
li[title="Beetroot"] {
	background: green;
}

li+li~li {
	background: yellow;
}
li[title="Beetroot"] {
	background: green;
}
li:not([title]) {
	background: blue;
}
li:last-child {
	background: purple;
}
body {
	font-size: 0;
	191511
}