body {
	height: 100vh;
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 50px;
}
header {
	background-color: #4AAF56;
	color:white;
	text-align: center;
	padding: 30px 0:;

}
ul {
	color: white;
	list-style:none;
	background: #000;
	width: 60%;
	margin: 20px auto;
	padding: 0;
}
li {
	background: yellow;
	display: block;

}
label {
	cursor: pointer;
	display: block;
	
}
li:nth-child(2n+1) {
	background: green;
}
li:active {
	background: navy;
}
