.preview_image {
	border: 1px solid white;

	_active {
	border-color: red;
	}
}
.previews__mod .previews_image {

}
.previews_image__mod {

}
html {
	background: red;
}
body {
	background: linear-gradient(to bottom, red, transporent;
}