.wrap {
	text-align: center;
	font-size: 0;
}
.column {
	display: inline-block;
	margin: 0 10px;
	font-size: 14px;
	width: 33%;
	background: yellow;
}
.column>div {
	width: 100%;
	height: 50px;
	background: red;
	margin: 10px 0;
}
img {
	vertical-align: middle;
}

.ib {
	max-width: 60%;
}